.loading {
  border: .5rem solid var(--foreground);
  border-top: .5rem solid var(--primary);
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}